#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to WeatherTop!
    </h1>
    <p>
        Your one stop shop for live weather updates around the globe
        <br/><br/>
        <img id="weatherhome" src="public/images/weather.png" alt="Weather Home"/>
        <br/><br/>
        Please login by using the 'Login' button in the menu above.
        <br/><br/>
        If you do not currently have a WeatherTop account and would like to join, please click the 'Signup' button.
    </p>
</section>